data/n8n/Mock_Flow_Payment.json
{
  "name": "Mock_Flow_Payment",
  "nodes": [
    {
      "parameters": {
        "content": "## Mercado Pago (MOCK)",
        "height": 288.6528555431132,
        "width": 285.2732362821956
      },
      "id": "46324193-2e44-4d70-b46a-a80e589a6550",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Itaú (MOCK)",
        "height": 308.79171332586793,
        "width": 287.79059350503974
      },
      "id": "c21d4f92-a5df-4539-9f7b-504307bbbe0b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        825
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mercadopago/billing",
        "responseCode": 201,
        "options": {}
      },
      "id": "1a0c2155-90df-4aad-8da9-1717a742f228",
      "name": "MP - Recebe a cobrança",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        585
      ],
      "webhookId": "e3293550-cceb-495c-af6d-1e496fd4c861"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "itau/billing",
        "responseCode": 201,
        "options": {}
      },
      "id": "2386a65e-c9b1-4a4f-82eb-c0ce5c26770a",
      "name": "ITAU - Recebe a cobrança",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        945
      ],
      "webhookId": "e3293550-cceb-495c-af6d-1e496fd4c861"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "9e610376-f6e0-4330-be30-7d234f344f09",
      "name": "Cliente realiza o pagamento",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        820,
        580
      ],
      "webhookId": "7425c8ec-46e1-4b8f-991d-f188d3a57d29"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://adapter-consumer-billing-svc-node-port:8082/api/v1/consumer/mercado-pago",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.body.id }}"
            },
            {
              "name": "statusPaymentType",
              "value": "PAID"
            },
            {
              "name": "=totalPrice",
              "value": "={{ $json.body.totalPrice }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfeeeafa-348a-416c-8ad5-eccac6756d0e",
      "name": "Envia atualização da cobrança para a lanchonete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        580
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "a49cc00d-d5e8-4af8-b10f-cbae34c1a42a",
      "name": "Cliente realiza o pagamento1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        820,
        940
      ],
      "webhookId": "7425c8ec-46e1-4b8f-991d-f188d3a57d29"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://adapter-consumer-billing-svc-node-port:8082/api/v1/consumer/itau",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.body.id }}"
            },
            {
              "name": "statusPaymentType",
              "value": "PAID"
            },
            {
              "name": "=totalPrice",
              "value": "={{ $json.body.totalPrice }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bd6e2f2f-20d7-4850-ac96-03f367223893",
      "name": "Envia atualização da cobrança para a lanchonete1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        940
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "MP - Recebe a cobrança": {
      "main": [
        [
          {
            "node": "Cliente realiza o pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ITAU - Recebe a cobrança": {
      "main": [
        [
          {
            "node": "Cliente realiza o pagamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente realiza o pagamento": {
      "main": [
        [
          {
            "node": "Envia atualização da cobrança para a lanchonete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente realiza o pagamento1": {
      "main": [
        [
          {
            "node": "Envia atualização da cobrança para a lanchonete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c30ad4f0-99f4-40ee-b7f9-24692cd21206",
  "id": "T9vh9Og84jKfEk1X",
  "meta": {
    "instanceId": "6e7045801df9f762935223da99f2d5ba2f467fbcae2ad2373ccc9f4fc923505f"
  },
  "tags": []
}