data/Mock_Flow_Payment.json
{
  "name": "Mock Flow Payment",
  "nodes": [
    {
      "parameters": {
        "content": "## Mercado Pago (MOCK)",
        "height": 288.6528555431132,
        "width": 285.2732362821956
      },
      "id": "b8f89fe9-3191-4301-ac2a-072743d4a827",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        235
      ]
    },
    {
      "parameters": {
        "content": "## Itaú (MOCK)",
        "height": 308.79171332586793,
        "width": 287.79059350503974
      },
      "id": "e7f09c9f-9db1-4199-991a-6ca8fd5ba297",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        600
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mercadopago/billing",
        "responseCode": 201,
        "options": {}
      },
      "id": "1c66bd4a-e4f0-4e68-93fb-b17d5ada91e7",
      "name": "MP - Recebe a cobrança",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1100,
        360
      ],
      "webhookId": "e3293550-cceb-495c-af6d-1e496fd4c861"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "itau/billing",
        "responseCode": 201,
        "options": {}
      },
      "id": "624a4856-2f6f-44d7-a618-14204e7c4cf1",
      "name": "ITAU - Recebe a cobrança",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1100,
        720
      ],
      "webhookId": "e3293550-cceb-495c-af6d-1e496fd4c861"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "4cf6319d-dba9-46ac-a4bf-13d6f7e1e534",
      "name": "Cliente realiza o pagamento",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1460,
        520
      ],
      "webhookId": "7425c8ec-46e1-4b8f-991d-f188d3a57d29"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://adapter-consumer-billing:8082/api/v1/consumer/itau",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.body.id }}"
            },
            {
              "name": "statusPaymentType",
              "value": "PAID"
            },
            {
              "name": "=totalPrice",
              "value": "={{ $json.body.totalPrice }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a520e7b-fb85-4dad-9052-e3f3793bd826",
      "name": "Envia atualização da cobrança para a lanchonete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1700,
        520
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "MP - Recebe a cobrança": {
      "main": [
        [
          {
            "node": "Cliente realiza o pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ITAU - Recebe a cobrança": {
      "main": [
        [
          {
            "node": "Cliente realiza o pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente realiza o pagamento": {
      "main": [
        [
          {
            "node": "Envia atualização da cobrança para a lanchonete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e085a2f4-0934-4f21-b55f-c2067a3a00ab",
  "id": "xROStjJYyVhbSMHS",
  "meta": {
    "instanceId": "abd3f23faf4867a40d1fd02d2bb1f1bc43783a9d3c36575a2f47dc291436aab1"
  },
  "tags": []
}